<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pinto Login</title>
  <link href="https://easycss.bookie0.repl.co/light.css" rel="stylesheet" type="text/css">
</head>
<body>
  <center>
  <div class="sign-up-form">
    
    <h1> Login </h1>
    <br />
    <form method="POST">
      <input type="text" id="username" name="username" class="input-box" placeholder="Username"> 
      <input type="text" id="password" name="password" class="input-box" placeholder="Password"> 
      <br />
      <button class="signup-btn" type="submit">Sign In </button>
      <hr>
      <p class="or">OR</p>
      <p> Do you need an account? </p>
      <a href="/signup"><button type="button" class="signup-btn">Sign Up </button></a>
    </form>
    </div>
  </center>
</body>
</html>
 





<!--<html>
  <head>
    <title>{% block title %} {% endblock %} </title>
    <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <center>
      <form method='POST'>
        <input type='email' name='email' id='email' placeholder='Email'>
        <input type='username' name='username' id='username' placeholder='Username'>
        <input type='password' name='password' id='password' placeholder='password'>
        <input type='submit' value='Submit'>
      </form>
    </center>
  </body>
</html>-->
