<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Sign Up</title>
  <link href="https://easycss.bookie0.repl.co/light.css" rel="stylesheet" type="text/css">
</head>
<body>
  <center>
  <div class="sign-up-form">
    <h1> Sign Up </h1>
    <form method="POST">
      <input type="text" id="email" name="email" class="input-box" placeholder="Email">
      <input type="text" id="username" name="username" class="input-box" placeholder="Username"> 
      <input type="text" id="password1" name="password1" class="input-box" placeholder="Password"> 
      <button class="signup-btn" type="submit">Sign Up </button>
      <hr>
      <p class="or">OR</p>
      <p> Do you already have an account? </p>
      <a href="/login"><button type="button" class="signup-btn">Sign In </button></a>
    </form> 
  </div>
</center>
</body>
</html>





<!--
<center>
  <form method='POST'>
    <input type='text' name='email' id='email' placeholder='Email'>
    <input type='text' name='username' id='username' placeholder='Username'>
    <input type='password' name='password1' id='password1' placeholder='Password'>
    <input type='password' name='password2' id='password2' placeholder='Confirm Password'>
    <input type='submit' value='Submit'>
  </form>
</center>
-->